<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/cliente/nuevo" class="btn btn-primary">Nuevo</a>

 <table class="table table-striped">
     <thead>
         <tr>
            <th>Nombres_1_2</th>
            <th>Apellidos_2_3</th>
            <th>Edad_3_4</th>
            <th colspan="2">Operacion</th>
         </tr>
     </thead>
                {{#each clientes}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.apellido}}</td>
                    <td>{{this.edad}}</td>
                    <td><a href="/cliente/modificar/{{this._id}}">Modificar</a></td>
                     <td><a href="/cliente/eliminar/{{this._id}}">Eliminar</a></td>
                </tr>
                {{/each}}
</table>